*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5{
    color: #333;
}

p, label{
    color: #444;
}

input{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],   
input[type="date"],
input[type="file"],
textarea {
    width: 700px;
}

textarea{
    padding: 10px 5px;
}

.cabeca{
    height: 160px;
    padding: 20px;
    background-color: #FF4500;
}

.cabeca h3{
    color: #f5f5f5;
    margin-top: 0;
}

.form-container{
    position: relative;
    margin: 0 auto;
    margin-top: -60px;
    height: 100%;
    width: 60%;
    background-color: #fdfdff;
}

.form-header{
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p{
    color: #FF4500;
    border-bottom: 2px solid #FF4500;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

.form-body{
    padding: 30px;
}

.form-title{
    margin-bottom: 15px;
}

.form-body p{
    margin-bottom: 20px;
}

.required-field{
    color: red;
}

.box-input{
    margin-bottom: 35px;
}

.block{
    display: block;
}

.optional_box{
    display: inline-block;
    margin: 0 30px 30px 0;
}

.btn-submit{
    background-color: #FF4500;
    color: #f5f5f5;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover{
    background-color: #fdfdff;
    border: #673ab7;
    color: #673ab7;
}
